@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-lg;
    }
}

.hn-row-bg-animate {
    background-size: 300%;
    -webkit-animation: hn-row-bg-animation 3s ease infinite;
    -moz-animation: hn-row-bg-animation 3s ease infinite;
    animation: hn-row-bg-animation 3s ease infinite;
}

@keyframes hn-row-bg-animation {
    0%,
    100% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
}
